<form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div>
        <input type="text" formControlName="name">
    </div>
    <div>
        <input type="text" formControlName="email">
    </div>
        <div formArrayName="skills">
            <div *ngFor="let skill of skills.controls; index as i">
                <input type="text" formControlName="{{i}}" placeholder="enter a skill">
                <button type="button" (click)="addSkills()">add Skill</button>
                <button type="button" (click)="removeSkills(i)" *ngIf="i!==0">remove</button>
            </div>
        </div>
        <div>
        <button type="submit" class="btn btn-primary">Send</button>
      </div>
</form>